.bundle
db/*.sqlite3
db/latest.sql
log/*.log
tmp/
.ackrc
.rvmrc
config/database.yml
config/mongoid.yml
public/cache/
public/stylesheets/compiled/
public/system/*
tmp/restart.txt
coverage/
script/download-production
