.expense {
  width:100%;
  border-bottom:1px solid #CCC;
  float:left;
  margin-top:30px;
  .category {
    font-size:200%;
    float:left;
  }
  .amount {
    font-size:150%;
    float:right;
  }
}
.categories {
  width:100%;
  float:left;
  .spend {
    padding-left:50px;
    width:450px;
    float:left;
  }
  .amount {
    float:right;
  }
}
.history {
  border-left: 1px solid #CCCCCC;
  margin-left: 25px;
  padding-left: 25px;
  margin-top:3px;
}
#expense-chart {
  border:1px solid #CCC;
}