<%- d = DateTime.now %>
<script type="text/javascript">
  var chart1; // globally available
  $(document).ready(function() {
        chart1 = new Highcharts.Chart({
           chart: {
              renderTo: 'expense-chart',
              defaultSeriesType: 'bar'
           },
           title: {
              text: '<%="Transactions for #{Date::MONTHNAMES[d.month]}, #{d.year}"%> <%="#{number_to_currency(Transaction.total)}/#{number_to_currency(7000 - Transaction.total)}"%>'
           },
           xAxis: {
              categories: ['General', 'Food', 'Toys']
           },
           yAxis: {
              title: {
                 text: 'Spent'
              }
           },
           series: [
           <% User.all.each do |user| %>
           {
              name: '<%= "#{user.firstname} #{number_to_currency(Transaction.month_user_total(6, user))}"%>',
              data: [2, 1, 4]
           },
           <% end %>
           ]
        });
     });
</script>

<div id="expense-chart"></div>